@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e2e2e2;
  font-size: 20px;
}

.navbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  color: white;

  .left {
    display: flex;
    flex-direction: row;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 20px 10px;

      li {
        padding: 0;
      }
    }
  }
  .nav-logo {
    width: 150px;
    padding: 10px 25px;
  }

  .right {
    display: flex;
  }

  ul {
    z-index: 10;
    display: flex;
    padding: 0 20px;
    li {
      padding: 15px;
      list-style-type: none;
      cursor: pointer;
      &:hover {
        color: #e2e2e2;
      }
    }
  }
  #nav-hamburger {
    z-index: 20;
    padding: 20px;
    height: 40px;
    color: white;
    cursor: pointer;
    display: none;
  }
}

.band {
  background: #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  p {
    color: #cd8232;
    font-size: 50px;
    text-align: center;
  }
}

section {
  padding: 0 0 10px 0;
  .title {
    display: flex;
    justify-content: center;
    h1 {
      font-size: 30px;
    }
  }
}

.about {
  background: #e0d6cc;
  .content {
    display: flex;
    .about-img {
      width: 40%;
      img {
        width: 100%;
        margin: -50px 0;
      }
    }
    .words {
      width: 60%;
    }
  }
}

.services {
  background: #e2e2e2;
  .content {
    display: flex;
  }
  .description {
    width: 20%;
    text-align: center;
    padding: 20px;
  }
  ul {
    padding-right: 30px;
  }
}

.portfolio {
  background: #e0d6cc;
  .content {
    display: flex;
    justify-content: center;
  }

  .slideshow {
    .slideshow-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .slideshow-nav {
        padding: 20px;
        font-size: 30px;
        color: rgb(54, 53, 53);
        cursor: pointer;
      }
    }
    .slideshow-img {
      height: 300px;
      width: 500px;
      background-image: url("/assets/img/portfolio/1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 0 0 30px 0;
    }
  }
}

.testimonials {
  background: #e2e2e2;
  .trustpilot {
    img {
      padding: 20px;
      width: calc(100% - 40px);
    }
  }

  .content {
    display: flex;
    justify-content: space-evenly;
  }

  .testimonial-card {
    width: 200px;
    border: solid 1px grey;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;

    .from {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      padding: 0 0 10px 0;
    }
    .message {
      text-align: center;
    }
  }
}

.contact {
  background: #e0d6cc;
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 00px;

    img {
      width: 200px;
    }

    li {
      list-style-type: none;
    }
    .contact-info {
      width: 300px;
    }
    .social-icons {
      width: 300px;

      ul {
        float: right;
        display: flex;
        flex-direction: row;
        padding: 0 20px 0 0;
        li {
          padding: 10px;
        }
      }
      img {
        width: 40px;
      }
    }
  }
}

.footer {
  background: #e0d6cc;
  width: calc(100% - 40px);
  text-align: center;
  padding: 20px;
}

///////////
@media only screen and (max-width: 900px) {
  #contact-logo {
    display: none;
  }
  .about-img {
    display: none;
  }
  .words {
    width: 100% !important;
    text-align: center;
  }

  .navbar {
    position: fixed;
    #nav-ul {
      font-size: 30px;
      display: none;
      margin: 0;
      top: 0px;
      right: 0;
      position: absolute;
      background: #1e1e1e;
      padding: 20px;
    }
    #nav-hamburger {
      display: block;
    }
  }
}
