@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e2e2e2;
}

.navbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.navbar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 20px 10px;
}

.navbar .left ul li {
  padding: 0;
}

.navbar .nav-logo {
  width: 150px;
  padding: 10px 25px;
}

.navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar ul {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}

.navbar ul li {
  padding: 15px;
  list-style-type: none;
  cursor: pointer;
}

.navbar ul li:hover {
  color: #e2e2e2;
}

.navbar #nav-hamburger {
  z-index: 20;
  padding: 20px;
  height: 40px;
  color: white;
  cursor: pointer;
  display: none;
}

.band {
  background: #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
}

.band p {
  color: #cd8232;
  font-size: 50px;
  text-align: center;
}

section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .title h1 {
  font-size: 30px;
}

.about {
  background: #e0d6cc;
}

.about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .content .about-img {
  width: 40%;
}

.about .content .about-img img {
  width: 100%;
  margin: -50px 0;
}

.about .content .words {
  width: 60%;
}

.services {
  background: #e2e2e2;
}

.services .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .description {
  width: 20%;
  text-align: center;
  padding: 20px;
}

.services ul {
  padding-right: 30px;
}

.portfolio {
  background: #e0d6cc;
}

.portfolio .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .slideshow .slideshow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .slideshow .slideshow-wrapper .slideshow-nav {
  padding: 20px;
  font-size: 30px;
  color: #363535;
  cursor: pointer;
}

.portfolio .slideshow .slideshow-img {
  height: 300px;
  width: 500px;
  background-image: url("/assets/img/portfolio/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 30px 0;
}

.testimonials {
  background: #e2e2e2;
}

.testimonials .trustpilot img {
  padding: 20px;
  width: calc(100% - 40px);
}

.testimonials .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.testimonials .testimonial-card {
  width: 200px;
  border: solid 1px grey;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.testimonials .testimonial-card .from {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 10px 0;
}

.testimonials .testimonial-card .message {
  text-align: center;
}

.contact {
  background: #e0d6cc;
}

.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 00px;
}

.contact .content img {
  width: 200px;
}

.contact .content li {
  list-style-type: none;
}

.contact .content .contact-info {
  width: 300px;
}

.contact .content .social-icons {
  width: 300px;
}

.contact .content .social-icons ul {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px 0 0;
}

.contact .content .social-icons ul li {
  padding: 10px;
}

.contact .content .social-icons img {
  width: 40px;
}

.footer {
  background: #e0d6cc;
  width: calc(100% - 40px);
  text-align: center;
  padding: 20px;
}

@media only screen and (max-width: 900px) {
  #contact-logo {
    display: none;
  }
  .about-img {
    display: none;
  }
  .words {
    width: 100% !important;
    text-align: center;
  }
  .navbar {
    position: fixed;
  }
  .navbar #nav-ul {
    display: none;
    margin: 0;
    top: 0px;
    right: 0;
    position: absolute;
    background: #1e1e1e;
    padding: 20px;
  }
  .navbar #nav-hamburger {
    display: block;
  }
}
/*# sourceMappingURL=index.css.map */